body {
  background: radial-gradient(circle at top, #1b1026, #050008);
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 320px;
  text-align: center;
}

#box {
  width: 80px;
  height: 80px;
  background: #9d4edd;
  margin: 20px auto;
  display: none;
  cursor: pointer;
}

.back {
  color: #c77dff;
  text-decoration: none;
}
