body {
  background: radial-gradient(circle at top, #1b1026, #050008);
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#area {
  width: 300px;
  height: 300px;
  position: relative;
  background: rgba(255,255,255,0.05);
  margin: 15px auto;
}

#target {
  position: absolute;
  background: #9d4edd;
  border-radius: 50%;
  cursor: pointer;
}

.back {
  color: #c77dff;
}
